---
layout: default
title: Ear Plugs - New Advanced-Tech Hearing Protection | DUBS
description: Experience quality sound & protect your hearing with DUBS advanced-tech earplugs. Our ear plugs reduce the volume without sacrificing your audio experience.
---
<div id="landing">


  <!-- ======================= CAROUSEL ========================= -->

  <div id="homepage-slides">

    <div id="homepage-slides-carousel" class="carousel slide fade-carousel">

      <div class="title">
          <h1 style="letter-spacing: 1px; margin-top: 25px;">GO LOUDER LONGER</h1>
          <p style="max-width: 350px; margin-top: 25px; font-size: 14px;" class="center-block">Protect your ears with DUBS Acoustic Filters: advanced tech ear plugs designed to provide an optimal listening experience.</p>
        </div>

        <div class="row">
          <div class="col-xs-12">

            <div class="carousel-inner">
              {% for i in (2..2) %}
                <!-- item -->
               {% capture slide_src %}getdubs-hp-slide2.jpg{% endcapture %}
                <div class="homepage-slide item parallax {% if forloop.first %}active{% endif %}" style="background-image: url(/assets/{{ slide_src }})" data-top="-25" data-speed="0.5"></div>

              <!-- end item -->
              {% endfor %}


            </div><!-- end carousel inner -->
          </div><!-- end responsive div -->
        </div><!-- end row -->
    </div><!-- end carousel -->
  </div><!-- end homepage-slides -->




  <!-- ======================= SECTION 1 ========================= -->


  <!-- homepage strip -->
  <div class="homepage-strip strip-1 text-left">
    <div class="container">
      <div class="row">
        <div class="col-md-6 inner">
          <img src="/assets/getdubs-case-top.jpg" />
        </div>
        <div class="col-md-6 inner-right">
          <h2><b>DUBS</b> ACOUSTIC FILTERS</h2>
          <p>
            DUBS Acoustic Filters are advanced tech earplugs that reduce volume without sacrificing the clarity of sound. Whether you're in the city, at a concert, on a plane or at the game, the DUBS protect your ears to keep you going louder, longer.
          </p>
          <div class="usp-icons">
            <div class="usp-icon col-md-6 col-xs-6 col-sm-3">
              <img src="/assets/usp-clarity.svg" />
              <span>clarity</span>
            </div>
            <div class="usp-icon col-md-6 col-xs-6 col-sm-3">
              <img src="/assets/usp-comfort.svg" />
              <span>comfort</span>
            </div>
            <div class="usp-icon col-md-6 col-xs-6 col-sm-3">
              <img src="/assets/usp-protection.svg" />
              <span>protection</span>
            </div>
            <div class="usp-icon col-md-6 col-xs-6 col-sm-3">
              <img src="/assets/usp-reusable.svg" />
              <span>reusable</span>
            </div>
          </div>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end homepage strip -->




  <!-- ======================= SECTION 3 ========================= -->

  <!-- homepage strip -->
  <div class="homepage-strip strip-3" data-top="65" data-speed="0.8">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 inner">
          <h2>Safe <b>in Sound</b></h2>
          <p>
            Today, we encounter more harmful noise than ever before. While we’ve become accustomed to the roar of airplanes, construction sites, concerts, and clubs, our ears have not, leading to a rise in Noise Induced Hearing Loss. The DUBS feature a 12 decibel Noise Reduction Rating (NRR) to help protect your ears.
          </p>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end strip -->
  <div class="use-cases">
    <div class="container">
      <div class="row">
        <div class="use-case-icon col-sm-3 col-xs-6">
          <img src="/assets/usecase-concert.svg" />
          <h3>Concert</h3>
          <p>Live music events can subject your ears to over 120dB.</p>
        </div>
        <div class="use-case-icon col-sm-3 col-xs-6">
          <img src="/assets/usecase-sports.svg" />
          <h3>Sports Game</h3>
          <p>The crowd at Century Link Field once reached a record breaking 137dB.</p>
        </div>
        <div class="use-case-icon col-sm-3 col-xs-6">
          <img src="/assets/usecase-travel.svg" />
          <h3>Travel</h3>
          <p>The roar of an airplane taking off can expose travelers to more than 110dB.</p>
        </div>
        <div class="use-case-icon col-sm-3 col-xs-6">
          <img src="/assets/usecase-city.svg" />
          <h3>City Noise</h3>
          <p>Noise pollution in cities has doubled in the last ten years alone.</p>
        </div>
      </div>
    </div>
  </div>


  <!-- ======================= SECTION 4: Design pagination ========================= -->

  <!-- homepage strip -->
  <div class="homepage-strip design-strip">
    <div class="container">
      <div class="row">
        <div class="col-md-6">

          <div class="product-exploded">
            <img data-no-retina="true" src="/assets/getdubs-designed-different.jpg" />
          </div>

        </div>
        <div class="col-md-6 inner-right">
          <h2>Designed <b>Different</b></h2>
          <p class="waypoint">
            Traditional ear plugs block all noise, muffling the sounds of the world around you. The DUBS are different. Developed by leading acoustic engineers and designers, the DUBS have been pre-tuned to target specific frequencies, so you hear the world the way it was meant to be heard.
          </p>

          <div class="explore-the-tech">
            <a href="/the-tech">
              <span>Explore the Tech</span>
              <img src="/assets/small-arrow-chevron-right.png" />
            </a>
          </div>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end strip -->


  <!-- ======================= SECTION 5: male + female... ========================= -->
  <div class="homepage-strip male-female">
    <img class="female" data-no-retina="true" src="/assets/getdubs-female.jpg" />
    <img class="male" data-no-retina="true" src="/assets/getdubs-male.jpg" />
  </div>

  -
  <!-- ======================= SECTION 6: dubs preorder... ========================= -->
  <div class="homepage-strip preorder">
    <div class="container">
      <div class="row product">
        <div class="col-sm-6 inner">

            <div class="product-thumbnail">
                <img class="product-image" src="/assets/getdubs-case-white.jpg">
            </div>

        </div>
        <div class="col-sm-6 inner inner-text">

          <h2>DUBS </h2>

          <p>
            Experience DUBS Acoustic Filters – advanced tech ear plugs.
          </p>

          <p>
            <a href="https://www.amazon.com/gp/product/B00NW1IZ5Q/ref=s9_acsd_al_bw_c_x_1" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-default buy-now-homepage">BUY NOW</a>
          </p>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>

</div><!-- end landing -->
