<div id="masthead-inner">

  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-xs-12">
        <h1 class="masthead-title">Consumer<br/><span class="amp">&amp; </span>Product<br/><b>Support</b></h1>
      </div>
      <div class="bg col-sm-7 hidden-xs">
      </div>
    </div>
  </div>
  <a class="anchor" id="cont"></a>
</div>

<div class="subnav" id="support-subnav">
  <!-- content anchor -->
  <div class="container">
    <div class="row">
      <div class="subnav-col col-sm-6 col-xs-12">
        <h2>
          <a href="/pages/where-to-buy#cont" class="{% if page.url == '/pages/where-to-buy/' || page.url == '/pages/where-to-buy' %}active{% endif %}">Where to Buy</a>
          <span class="arrow"></span>
        </h2>
      </div>
      <div class="subnav-col col-sm-6 col-xs-12">
        <h2>
          <a href="/pages/faq#cont" class="{% if page.url == '/pages/faq/' || page.url == '/pages/faq' %}active{% endif %}">F.A.Q.</a>
          <span class="arrow"></span>
        </h2>
      </div>
    </div>
  </div>
</div>
