{% include header.liquid %}
<div id="page-faq" class="page">

  {% include support-subnav.liquid %}

  <div class="container main-container">
    <h3 class="page-title">Everything you need to know.</h3>


    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="faq-question">
          <h4 class="question">
            Why should I choose the DUBS?
          </h4>
          <p class="answer">
            The DUBS are advanced tech earplugs that reduce the volume without sacrificing your audio experience. Designed for loud environments, the DUBS allow you to protect your ears from harmful noise, and look good at the same time.
          </p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
        <div class="faq-question">
          <h4 class="question">
            What are acoustic filters?
          </h4>
          <p class="answer">
            DUBS Acoustic filters are dynamic ear plugs engineered for sound fidelity. They use an intricate mechanical configuration to lower the level of the sound you hear while retaining the proper balance and clarity.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="faq-question">
          <h4 class="question">
            What is the difference between the DUBS and regular ear plugs?
          </h4>
          <p class="answer">
            The DUBS are designed to lower the volume you hear to a responsible, enjoyable level while retaining balance and clarity.  Bulky foam earplugs block sounds completely. Think about it like choosing between turning the volume down on your speakers or stuffing a pillow into them.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="faq-question">
          <h4 class="question">
            What is NIHL?
          </h4>
          <p class="answer">
            Noise-Induced Hearing Loss (NIHL) is permanent hearing damage caused by exposure to loud sounds, such as live music, construction, airplanes or sirens. NIHL can happen suddenly, when a mic feeds back at a concert, or develop gradually from repeated exposure to loud noise over time.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="faq-question">
          <h4 class="question">
            What dB levels cause permanent damage to my ears?
          </h4>
          <p class="answer">
             Hearing loss occurs when your ears are consistently exposed to sound at or above 85 dB.  Take a look at the graph below to see what that means to you (NIH - National Institutes of Health):
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="faq-infographic col-md-8 col-md-offset-2 text-center">
        <img src="/assets/faq-infographic.jpg" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="faq-question">
          <h4 class="question">
            How do I wear my DUBS?
          </h4>
          <p class="answer">
            The DUBS should fit snugly in the ear and flush to the side of your head.  See the image below for proper orientation:
          </p>
          <img style="padding-top:12px;" src="/assets/faq-right-wrong.jpg" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="faq-question">
          <h4 class="question">
            Who designed the DUBS?
          </h4>
          <p class="answer">
            The DUBS were designed by our team here at Doppler Labs, which is comprised of industry leading audio engineers, industrial designers and creatives.  Every element of the DUBS - from our patent-pending advanced-tech acoustic filters down to the design and artwork - was developed entirely in-house at Doppler Labs.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="faq-question">
          <h4 class="question">
            When should I wear my DUBS?
          </h4>
          <p class="answer">
            The DUBS are designed for use in loud environments. Wear them at a concert, in a stadium, on a plane or around the city.
          </p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
        <div class="faq-question">
          <h4 class="question">
            What protection level do the DUBS offer?
          </h4>
          <p class="answer">
            The DUBS offer a Noise Reduction Rating (NRR) of 12dB.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="faq-question">
          <h4 class="question">
            What are the DUBS made of?
          </h4>
          <p class="answer">
            The DUBS are primarily made from polycarbonate, stainless steel, ABS, polymer foams, and silicone.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="faq-question">
          <h4 class="question">
            Are there different sized ear buds?
          </h4>
          <p class="answer">
            The DUBS come in one size, designed for ages 16 and over.
          </p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
        <div class="faq-question">
          <h4 class="question">
            Where can I purchase the DUBS?
          </h4>
          <p class="answer">
            You can buy the DUBS through <a href="https://www.amazon.com/gp/product/B00NW1IZ5Q/ref=s9_acsd_al_bw_c_x_1" target="_blank" rel="noopener noreferrer">Amazon</a>.
          </p>
        </div>
      </div>

    </div>

  </div> <!-- end .container -->
</div> <!-- end #page -->
{% include footer.liquid %}
