{% include header.liquid %}
<div id="page-the-tech" class="page pad-top">

  <div id="masthead-inner">
    <div class="bg col-sm-12">
      <h1 class="masthead-title">Designed<br/>Different</h1>
    </div>
  </div>

  <!-- homepage strip -->
  <div class="homepage-strip first text-center">
    <div class="container">
        <h2>Advanced <b>Filters</b></h2>
        <p class="wider center-block">
          The DUBS use Dynamic Attenuation, an intricate mechanical process that filters sound. While traditional earplugs distort and muffle, our engineers developed a proprietary combination of high and low pass filters that allow the DUBS to reduce volume while preserving the proper balance and clarity of the audio you hear.
        </p>
        <img src="/assets/getdubs-tech-filters.jpg" />
    </div><!-- end container -->
  </div><!-- end homepage strip -->


  <!-- homepage strip -->
  <div class="homepage-strip text-left tint">
    <div class="container">
      <div class="row">
        <div style="margin-top: 15px;" class="col-xs-12 col-md-6 inner">
          <h2>Built <b>To Last</b></h2>
          <p>
           The DUBS have been constructed with premium materials - including high strength plastics, stainless steel, polymer foams and silicones - to create a durable product that can be worn over and over, every day.
          </p>
        </div>
        <div class="col-xs-12 col-md-6">
          <img src="/assets/getdubs-tech-dubs-2.jpg" />
        </div>
      </div>
    </div><!-- end container -->
  </div><!-- end homepage strip -->

  <!-- homepage strip -->
  <div class="homepage-strip text-left">
    <div class="container">
      <div class="row">
        <div class="hidden-xs hidden-sm col-md-6">
          <img src="/assets/getdubs-design-streamlined.jpg" />
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-5 col-lg-offset-0 inner pad-more">
          <h2>Designed to be <b>Worn</b></h2>
          <p class="wider">
            Unlike awkward foam earplugs, the DUBS unique form factor allow them to be worn comfortably and to sit flush against the ear. The DUBS are reusable, and come with a convenient, portable case to go with you everywhere.
          </p>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg">
          <img src="/assets/getdubs-design-streamlined.jpg" />
        </div>
      </div>
    </div><!-- end container -->
  </div><!-- end homepage strip -->

    <!-- homepage strip -->
  <div class="homepage-strip text-left tint">
    <div class="container">
      <div class="row">
        <div style="margin-top: 35px; margin-bottom: 110px;" class="col-xs-12 col-md-6 inner">
          <h2>Nice <b>Curves</b></h2>
          <p>
           We chose this combination of filters to match the way the ear’s sensitivity to sound changes based upon the loudness of the signal.  Our filters provide a response curve that approximates these changes, so when your favorite musician gets the sound set just right, your DUBS Acoustic Filters can turn the volume down while retaining the sonic experience.
          </p>
        </div>
        <div class="col-xs-12 col-md-6">
          <img style="margin-top: 75px;"src="/assets/curve.jpg" />
        </div>
      </div>
    </div><!-- end container -->
  </div><!-- end homepage strip -->

  <!-- homepage strip -->
  <div id="get-technical" class="homepage-strip text-center" style="background: #686868">
    <div class="container">
      <div class="row">
        <div style="margin-top: 35px; margin-bottom: 110px;" class="col-xs-12 col-md-12 inner">
          <img style="margin-bottom: 20px;" src="/assets/file-download-icon.png" />
          <h2>GET <b>TECHNICAL</b></h2>
          <p>
           Want more on the science behind the DUBS?<br />
            Download all the info here.
          </p>
          <div class="download">
            <a href="/assets/HOW_DUBS_WORK.pdf" target="_blank"><img style="margin-right: 5px;" src="/assets/file-download-icon2.png" />DOWNLOAD</a>
          </div>
        </div>
      </div>
    </div><!-- end container -->
  </div><!-- end homepage strip -->
</div> <!-- end #page -->
{% include footer.liquid %}
