{% include header.liquid %}
<div id="page-press" class="page pad-top">
  <div class="container main-container">

  <h1>Press.</h1>
  <div class="container">
      <div class="col-md-4 col-sm-4 col-xs-12">
      <a target="_blank" href="http://www.latimes.com/business/technology/la-fi-tn-dubs-earplugs-20140922-story.html"><img src="/assets/latimes_logo_black.png" /></a>
      <p class="quote">"Dubs aims to make earplugs a 'fashion staple'..."</p>
      <p class="meta">LA Times</p>
    </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
      <a target="_blank" href="http://techcrunch.com/2014/09/23/meet-dubs-doppler-labs-reinvention-of-the-lowly-earplug/"><img src="/assets/techcrunch_logo.png" /></a>
      <p class="quote">"Meet Dubs, Doppler Labs’ Reinvention Of The Lowly Earplug"</p>
      <p class="meta">TechCrunch</p>
    </div>

       <div class="col-md-4 col-sm-4 col-xs-12">
      <a target="_blank" href="http://gizmodo.com/dubs-earplugs-dont-look-terrible-so-you-might-actually-1638017710"><img src="/assets/gizmodo_logo_black.png" /></a>
      <p class="quote">"Dubs Earplugs Don't Look Terrible So You Might Actually Wear Them"</p>
      <p class="meta">Gizmodo</p>
    </div>
   </div>


  <div class="col-md-3 col-sm-3 col-xs-12">
    <a target="_blank" href="http://fortune.com/2014/11/18/five-ways-to-hack-your-holiday-travel"><img src="/assets/fortune_logo.png" /></a>
  </div>







  <!--  -->
  <div class="col-md-3 col-sm-3 col-xs-12">
    <img src="/assets/mensjournal_logo_web.png" />
  </div>



  <div class="col-md-3 col-sm-3 col-xs-12">
    <a target="_blank" href="http://www.theverge.com/a/holiday-gift-ideas-2014/25-100"><img src="/assets/theverge_logo_web.png" /></a>

  </div>
  <!--  -->
    <div class="col-md-3 col-sm-3 col-xs-12">
    <a target="_blank" href="http://uncrate.com/stuff/dubs-acoustic-filters/"><img src="/assets/uncrate_logo_black.png" /></a>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-12">
    <a target="_blank" href="http://www.examiner.com/review/six-great-stocking-stuffer-ideas"><img src="/assets/examiner_logo_web.png" /></a>

  </div>

  <div class="col-md-3 col-sm-3 col-xs-12">
    <a target="_blank" href="http://www.fodors.com/news/photos/fodors-2014-holiday-gift-guide-stocking-stuffers#!15-dubs-acoustic-filters/"><img src="/assets/fodors_logo_web.png" /></a>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-12">
    <a target="_blank" href="http://www.entrepreneur.com/article/239243?"><img src="/assets/entrepeneur_logo.png" /></a>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-12">
    <a target="_blank" href="http://www.entrepreneur.com/article/239243?"><img src="/assets/today_logo.png" /></a>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-12">
    <a target="_blank" href="http://www.psfk.com/2014/09/dubs-earplugs-acoustic-filter-listening.html"><img src="/assets/psfk_logo_color.png" /></a>
  </div>


  <div class="col-md-3 col-sm-3 col-xs-12">
    <a target="_blank" href="http://www.marieclaire.com/celebrity-lifestyle/under-25-gift-guide-7#slide-16
"><img src="/assets/Marie-Claire-logo.png" /></a>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-12">
    <a target="_blank" href="http://www.luckymag.com/style/2014/11/cheap-gifts-under-30_slideshow_item24_25"><img src="/assets/Lucky-magazine-logo.png" /></a>
  </div>

	  <div class="col-md-3 col-sm-3 col-xs-12">
    <a target="_blank" href="http://www.entrepreneur.com/article/239243?"><img src="/assets/entertainment_logo.png" /></a>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-12">
    <a target="_blank" href="http://www.smithsonianmag.com/ist/?next=/innovation/building-a-better-earplug-180952930/"><img src="/assets/smithsonian_logo.png" /></a>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-12">
    <a target="_blank" href="http://www.dancingastronaut.com/2014/10/doppler-labs-introduces-dubs-new-look-earplug/"><img src="/assets/dancing_logo.png" /></a>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-12">
    <a target="_blank" href="http://doandroidsdance.com/features/dubs-earbuds-doppler-labs-interview/"><img src="/assets/Do-Androids-Dance_logo_web.png" /></a>
  </div>


  <div class="col-md-3 col-sm-3 col-xs-12">
    <a target="_blank" href="http://www.highsnobiety.com/2014/09/24/dubs-advanced-tech-ear-plugs/"><img src="/assets/hs_logo_black.png" /></a>
  </div>

     <div class="col-md-3 col-sm-3 col-xs-12">
    <a target="_blank" href=""><img src="/assets/star_logo.png" /></a>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-12">
    <a target="_blank" href="http://gearhungry.com/2014/09/dubs-acoustic-filters.html"><img src="/assets/gh_logo_color.png" /></a>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-12">
    <a target="_blank" href="http://whiteraverrafting.com/dubs-acoustic-filters/2014/10/23/"><img src="/assets/wwr_logo.png" /></a>
  </div>

  <div style="clear:both"></div>

    </div><!-- end container -->
</div> <!-- end #page -->
{% include footer.liquid %}
