{% include header.liquid %}
<div class="page" id="page-where-to-buy">

  {% include support-subnav.liquid %}

  <div class="container main-container">

    <div class="row partners">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h3 class="page-title">Where to Buy.</h3>

		<div class="row">
          <div class="col-md-6">
            <a href="https://www.amazon.com/gp/product/B00NW1IZ5Q/ref=s9_acsd_al_bw_c_x_1" target="_blank" rel="noopener noreferrer">
            <img src="/assets/partner-amazon.com.png">
            </a>
          </div>

          <div class="col-md-6">
            <a href="http://www.guitarcenter.com/Doppler-Labs/DUBS-Acoustic-Filters-Advanced-Tech-Earplugs.gc" target="_blank" rel="noopener noreferrer">
              <img src="/assets/partner-guitar-center.png">
            </a>
          </div>
        </div>

          <div class="clearfix"></div>


      </div>
    </div>

    <div  style="margin-top: 70px;" class="row page-bottom">

    </div>


  </div> <!-- end .container -->
</div> <!-- end #page -->
{% include footer.liquid %}
