{% include header.liquid %}
<div id="page-about" class="page pad-top">
  <div id="masthead-inner" class="about">
      <h1 class="about-title">
        Behind<br/>
        <b>the Dubs</b>
      </h1>
  </div>


  <div class="container main-container">

    <div class="homepage-strip">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-xs-12 inner text-center">
            <h2 style="font-size: 22px;" class="margin-bottom">Why don't we wear earplugs?</h2>

            {{content}}

          </div>
        </div><!-- end row -->
      </div><!-- end container -->
    </div>
  </div> <!-- end .container -->


  <div class="bottom">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 text-center">
          <a href="/pages/press-room">
            <img src="/assets/about-press.png" />
            <h3>Press <b>Room</b></h3>
          </a>
          <p style="max-width: 320px !important;">
            Need some material to write a story about us?  Get more info on our press page.
          </p>
        </div>

      </div><!-- end row -->
    </div><!-- end container -->
  </div>


</div> <!-- end #page -->
{% include footer.liquid %}
